h1{
    color:rgb(233, 26, 233);
    background-color: rgb(235, 186, 126);
    font-family: 'Times New Roman';
    text-align: center;
}
p{
    font-family: cursive;
}
body{
    background-color: rgb(255, 255, 255);
}
img{
    margin-left: 450px;
}
footer{
    text-align: center;
    font-family: cursive;
    background-color:rgb(235, 186, 126);
}
nav{
    color:rgb(233, 26, 233);
    background-color: rgb(235, 186, 126);
    font-family: 'Times New Roman';
    text-align: left;
}